body, html {height: 100%; margin: 0;}
.img-container{
	background-image: url(pic.jpg);
	height: 100%;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}
@font-face {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local('Playfair Display'), local('Playfair Display'), url(https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
.logo{position: absolute;}
body{background-color:rgb(169,169,169)}
h1, p{
	text-align:center;
	color:rgb(255,255,255);
	font-family: "Playfair Display" , sans-serif;
}
p.contact{
	font-size:20px;
}
p.main{
	margin-left:25%;
	margin-right:25%;
}
p.last{
	margin-bottom:5%;
}
p {margin-left: 10%;margin-right: 10%;}
@media only screen and (max-device-width: 1300px) {
  .img-container {
    /* add parallax for larger screens */
    background-attachment: scroll;
  }
}
@media only screen and (max-device-width: 1250px) {
  p.main{
	margin-left:0%;
	margin-right:0%;
	}
}
