body, html {height: 100%; margin: 0;}
.img-container{
	/* background image without parallax */
	background-image: url(pic.jpg);
	height: 100%;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}
.logo{position: absolute;}
body{margin-bottom:20px;}
h1, p{
	text-align:center;
}
p.last{
	margin-bottom:5%;
}
p {margin-left: 10%;margin-right: 10%;}
@media only screen and (max-device-width: 1300px) {
  .img-container {
    /* add parallax for larger screens */
    background-attachment: scroll;
  }
}
