body, html {height: 100%; margin: 0;}
.img-container{
	background-image: url(pic.jpg);
	height: 100%;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}
.logo{position: absolute;}
body{background-color:rgb(169,169,169)}
h1, p{
	text-align:center;
	color:rgb(255,255,255);
}
p.contact{
	font-size:20px;
}
p.main{
	margin-left:30%;
	margin-right:30%;
}
p.last{
	margin-bottom:5%;
}
p {margin-left: 10%;margin-right: 10%;}
@media only screen and (max-device-width: 1300px) {
  .img-container {
    /* add parallax for larger screens */
    background-attachment: scroll;
  }
}
@media only screen and (max-device-width: 1250px) {
  p.main{
	margin-left:0%;
	margin-right:0%;
	}
}
